// change the theme
$theme-colors: (
  "primary": #228D57,
  "light": #FFFFFF,
  "highlight": #88bb65,
  "dark": #3e3e3c,
  "danger": #FF5252
);
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}
.navbar-brand{
  padding-left: 20px;
}


.navbarlink:hover{
  color: #88bb65 !important;
}

.logout{
  background-color: black !important;
  border-radius: 20px !important;
  width: 140px;
  border: none !important;
} 
.signup{
  background-color: #88bb65 !important;
  border-radius: 20px !important;
  width: 140px;
  border: none !important;
} 
.signup:hover{
  background-color:#228D57 !important; 
}

.submitbutton{
  border-radius: 20px !important;
  width: 140px;
  border: none !important;
  background-color: #228D57 !important;
}

.submitbutton:hover{
  background-color:#228D57 !important; 
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';